/* Style pour le titre */
h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  color: #fff;
}

/* Style pour le body */
body {
  background-image: url(images/background-3.jpg);
  background-size: cover;
}

/* -------------------------------------------------------- CARDS ------------------------------------------------------------*/
/* Style pour les cards*/
.card {
  display: inline-block;
  width: 250px;
  text-align: center;
  animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Style pour les images contenu dans les cards*/
.card img {
  width: 200px;
  height: 300px;
  vertical-align: top;
  width: 80%;
  transition: transform .1s;
}

/* Style pour le survol du bouton rechercher*/
.card img:hover {
  transform: scale(1.1);
}

/* Style pour le H5*/
h5 {
  font-size: 16px;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  color: #fff;
}

/* ----------------------------------------- CHAMP RECHERCHE ----------------------------------------------------------------*/
/* Style pour le label */
label {
  font-size: 1.3em;
  display: block;
  margin-bottom: 0.5em;
  color: #fff;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Style pour le champ de saisie du titre */
input[type="text"] {
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  max-width: 20em;
  margin-bottom: 1em;

}

/* Style pour le bouton de recherche */
button {
  font-size: 1.2em;
  padding: 0.5em 1em;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Style pour l'effet au survol du bouton de recherche */
button:hover {
  background-color: #000000;
}

/* Style pour le container contenant le champ recherche */
.container {
  text-align: center;
}

/* Style pour la liste des films */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Style pour chaque élément de la liste des films */
li {
  margin-bottom: 1em;
  /* margin-left: 7em; */
  padding: 1em;
  background-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 170px;
  overflow: auto;
  font-size: 25px;
  width: 80%;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Style pour l'image de chaque film */
li img {
  transition: transform .1s;
  float: left;
  margin-right: 1em;
  max-width: 100%;
  height: 100%;
}

/* Effet au survol de l'image*/
li img:hover {
  transform: scale(1.1);
}

/* Style pour le résumé de chaque film */
li p {
  margin-top: 5px;
  line-height: 1.4;
  font-size: 18px;
  opacity: 0.8;
}

/* Style pour le message si aucun film n'est trouvé */
ul li#noResult {
  font-style: italic;
  color: #666;
  text-align: center;
}
/* footer */
.footer{
  position: relative;
  top:0;
  width: 100%;
  height: 60px;
  background-color: #eeede9;
  border-radius: 0 0 50% 50%;
  rotate: 180deg;
  
}
.footer1{
  font-size: 3rem;
  rotate: 180deg;
  text-align:center;
  color: transparent;
  -webkit-text-stroke:1px #c5d325 ;
  background-image: url('images/back.png');
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
/* Styles responsive */
@media only screen and (max-width: 1200px) {
  li {
    margin-left: 2em;
    margin-right: 1em;
    width: 80%;
    height: 80%;
  }
}

@media only screen and (max-width: 600px) {

  /* Réduire la taille du titre */
  h1 {
    font-size: 1.5em;
  }

  /* Centrer le champ de saisie */
  input[type="text"] {
    margin: 0 auto 1em;
    max-width: 100%;
  }

  /* Centrer le bouton de recherche */
  button {
    display: block;
    margin: 0 auto 1em;
  }

  /* Ajuster la largeur maximale des images */
  li img {
    max-width: 70px;
  }

  li p {
    font-size: 18px;
    margin-top: 10px;
  }

  input[type="text"] {
    max-width: 13em;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
    width: 80%;
    height: 80%;
  }
}

/* ANIMATION POUR LES H1 ET H5 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ANIMATION DES CARDS */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* ANIMATION DES RESULTATS DE LA RECHERCHE */
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}